USERNAME=<This is just to learn the use case of .env files, even if you put 123 it will work, no logic will be applied>
PASSWORD=<This is just to learn the use case of .env files, even if you put 123 it will work, no logic will be applied>