USERNAME=<This is just to learn the use case of .env files, even if you put 123 it will work, no logic will be applied>
PASSWORD=<This is just to learn the use case of .env files, even if you put 123 it will work, no logic will be applied>
DUMMYJSON_USERNAME=emilys <Nothing Secret over here>
DUMMYJSON_PASSWORD=emilyspass <Nothing Secret over here>